body {
padding: 0;
margin: 0;
position:fixed;
top:0;
bottom: 0;
left: 0;
right: 0;
}

#container {
	position: relative;
}

#pause{
  display: none;
  left:10%;
  text-align: center;
  padding-top: 0px;
  z-index: 1;
  width: 600px;
  height: 360px;
  margin-left: 25%;
  position: absolute;
}

#game-over {
  display: none;
  left:10%;
  text-align: center;
  padding-top: 0px;
  z-index: 1;
  width: 600px;
  height: 360px;
  margin-left: 25%;
  position: absolute;
}


.loading {	
  padding-top: 100px;
  max-width: 50%;
  margin-left: 350px;
  line-height: 1.4;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.loading__author {
  font-weight: normal;
  font-size: 0.9rem;
  color: rgba(189,189,189 ,1);
  margin: 0.6rem 0 2rem 0;
  display: block;
}

.loading__anim {
  width: 35px;
  height: 35px;
  display: inline-block;
  border-radius: 50%;
  border: 5px solid rgba(189,189,189 ,0.25);
  border-left-color: rgba(3,155,229 ,1);
  border-top-color: rgba(3,155,229 ,1);
  animation: rotate 600ms infinite linear;

  }

  @keyframes rotate {
	 to {
	  transform: rotate(1turn)
	 }
	}



button {
  display: block;
  width: 150px;
  margin: auto;
  height: 30px;
  line-height: 30px;
  border: 1px solid #ff0000;
  color: white;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  background-color: #FFA500;
  border-radius: 5px;
}

button:hover {
  background-color: #ff0000;
}

canvas {
  position: absolute;
  width: 100%;
  height: 342%;
  margin: auto;
  border: 1px solid black;
  z-index: 1;
}

#music{
  position: absolute;
  top:40%;
  left: 35%;
  padding-top: 0px;
}

#sfx{
  position: absolute;
  left:40%;
  top: 50%;
}

#musicamaisVol{
  background-size: cover;
  position: absolute;
  top:44%;
  left:48%;
  background: none;
  width: 20px;
  height: 20px;

  cursor: pointer;
}


#musicamenosVol{
  position: absolute;
  top:44%;
  left:53%;
  background: none;
  width: 20px;
  height: 20px;

  cursor: pointer;
}

#mutemusica{
  background: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top:44%;
  left: 58%;
  cursor: pointer;
}

#sfxmenosVol{
  position: absolute;
  top:53%;
  left: 53%;
  background:none;
  width: 20px;
  height: 20px;
  cursor: pointer;

}
#sfxmaisVol{
  position: absolute;
  top:53%;
  left: 48%;
  background:none;
  width: 20px;
  height: 20px;
  cursor: pointer;

}
#mutesfx{
  background:none;
  width: 20px;
  height: 20px;
  position: absolute;
  top:53%;
  left: 58%;
  cursor: pointer;
}