body {
padding: 0;
margin: 0;
}

.back{

	position: absolute;
	width: 100%;
	height: 100%;
}
.text{
	position: relative;
	top: 20px;
	left: 270px;

}

input[type = text]{
	width: 100px;
	border: 2px solid #aaa;
	border-radius: 8px;
	margin: 8px 0;
	outline: none;
	padding: 8px;
	box-sizing: border-box;
}
button{

	width:300px;
	height:70px;
	font-size: 30px;
	border-radius: 8px;
	font-family: Splatch;
	background-color: #F49447;
	cursor: pointer;
	border-color: black;
	transition: background-color 0.5s, color 0.5s;

}

button:hover{
	background-color: #0e1111;
	color: #F49447;
}
#play{
	position: relative;
	left: 300px;
}

#rank{
	position: relative;
	top: 80px;
	left: 10px;
}

#skin{
	position: relative;
	top: 160px;
	right: 310px;
}

#help{
	position: relative;
	top: 240px;
	right: 600px;
}

#mute{
	background-size: cover;
	background-position: center;
	background-color: transparent;
	outline: none;
	border: none;
	overflow: hidden;
	width: 80px;
	height: 80px;
	position: relative;
	top:260px;
	right:150px;

}
